/Angular/mySamples/Auth/WebAPI/MyAuth/bin
/Angular/mySamples/Auth/WebAPI/MyAuth/obj
/Angular/mySamples/Auth/WebAPI/Core/MyAuth.BAL/bin
/Angular/mySamples/Auth/WebAPI/Core/MyAuth.BAL/obj
/Angular/mySamples/Auth/WebAPI/Core/MyAuth.DAL/obj
/Angular/mySamples/Auth/WebAPI/Core/MyAuth.DAL/bin
/Angular/mySamples/Auth/WebAPI/Core/MyAuth.Model/obj
/Angular/mySamples/Auth/WebAPI/Core/MyAuth.Model/bin
