  
        <header class="container" data-ng-controller="navigationController">
            <div id="menu" class="navbar navbar-default">
                <div class="navbar-header">
                    <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <div id="logo">
                        <a href='#/'>
                            <h4>Explore Foursquare</h4>
                        </a>
                    </div>
                </div>
                <div class="navbar-collapse collapse" data-collapse="!navbarExpanded">
                    <ul class="nav navbar-nav navbar-right">
                        <li data-ng-class="{'active':isActive('/explore')}"><a href="#/explore">Explore</a></li>
                        <li data-ng-class="{'active':isActive('/places')}"><a href="#/places">My Places</a></li>
                        <li data-ng-class="{'active':isActive('/about')}"><a href="#/about">About</a></li>
                    </ul>
                </div>
            </div>
        </header>
        
        <section id="body" class="container">
            <div data-ng-view=""></div>
        </section>

        <hr />
        <footer class="container">
            <p>Created by Taiseer Joudeh. Twitter: <a target="_blank" href="http://twitter.com/tjoudeh">@tjoudeh</a></p>
            <p>Taiseer Joudeh Blog: <a target="_blank" href="http://www.bitoftech.net">bitoftech.net</a></p>
        </footer>

    